.clients-section__list {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
}

.clients-list__item {  
    width: calc((100% - 60px) / 2);
    
    @media screen and (min-width: 768px) {
        width: calc((100% - 90px) / 3);
    }
    @media screen and (min-width: 1200px) {
        width: calc((100% - 180px) / 6);
    }
    height: 90px;
}

.clients-list__link {
    width: 100%;
    height: 100%;
    border: 1px solid rgba(175, 177, 184, 1);
    border-radius: 4px;
    display: block;
    align-items: center;
    justify-content: center;
    display: flex;
    transition: border 250ms var(--cubic);

    &:hover,
    &:focus {
    border: 1px solid #2196F3; 
    }
    &:hover .clients-list__svg,
    &:focus .clients-list__svg {
    fill: var(--activation-color); 
    }
}   

.clients-list__svg {
    fill:  #AFB1B8;
    transition: fill 250ms var(--cubic);
}


