body {
    font-family: 'Roboto', sans-serif;
    color: var(--black-color);
    background-color: var(--bgn-color) ;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

.section {
    padding-top: 60px;
    padding-bottom: 60px;
    @media screen and (min-width: 1200px) {
        padding-top: 94px;
        padding-bottom: 94px;
    }
}


