:root {
    --black-color: #212121;
    --bgn-color: #ffffff;
    --activation-color: #2196F3;
    --second-bgn-color: #2F303A;
    --border-color: #EEEEEE;
    --bgn-section-color: #F5F4FA;
    --label-color: #000000;
    --line-color: #ECECEC;
    --text-color: #757575;
    --contacts-color: rgb(255, 255, 255, 60%);
    --cubic: cubic-bezier(0.4, 0, 0.2, 1);

}