.header {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--line-color);

}

.header-container {
    width: 100%;
    height: 100%;

    padding-top: 16px;
    padding-bottom: 16px;

    display: flex;
    align-items: center;
    position: relative;
    
    @media screen and (min-width: 768px) {
        padding-top: 0px;
        padding-bottom: 0px;
    }
}

.header-nav {
    display: flex;
    align-items: center;
}

.header-logo {
    margin-left: 0;

    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 1.38;
    letter-spacing: 0.03em;
    color: var(--label-color);

    @media screen and (min-width: 1200px) {
        font-size: 26px;
    }
}

.logo-web {
    color: var(--activation-color);
}

.menu-button-open {
    width: 40px;
    height: 40px;

    position: absolute;    
    background-color: transparent;
    border-color: transparent;
    right: 15px;
    top: 10px;
    cursor: pointer;  
    display: flex;
    align-items: center;
    justify-content: center;
    fill: var(--black-color);
    transition: fill 250ms var(--cubic);  
    
    &:hover,
    &:focus {
    fill: var(--activation-color);
    }
    @media screen and (min-width: 768px) {
        display: none;
    }
}

.header-list {
    display: flex;
    gap: 50px;
    margin-left: 93px;
    width: 281px;
    @media screen and (max-width: 767px) {
        display: none;
        }
}

.header-item {
    position: relative;
}

.header-link {
    display: inline-block;
    padding-top: 32px;
    padding-bottom: 32px;

    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: var(--black-color);  

    transition: color 250ms var(--cubic);

    &:hover,
    &:focus {
        color: var(--activation-color);
    }
}

.header-link.current::after {
    content: "";
    background-color: var(--activation-color);
    width: 100%;
    height: 4px;
    
    border-radius: 2px;
    display: block;
    position: absolute;
    bottom: -1px;
}

.header-list .header-link.current {
    color: var(--activation-color);
}

.header-contacts-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: auto;
    gap: 10px;
    
    @media screen and (max-width: 767px) {
        display: none;
    }
    @media screen and (min-width: 1200px) {
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-left: auto;
        gap: 50px;
    }
}

.header-contacts {   
    display: flex;
    align-items: center;

    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: var(--text-color); 
    transition: color 250ms var(--cubic), fill 250ms var(--cubic); 
    &:hover, 
    &:focus{
    fill: var(--activation-color);
    color: var(--activation-color);  
    }

    @media screen and (min-width: 1200px) {
        padding-top: 32px;
        padding-bottom: 32px;
        
        font-size: 14px;
        line-height: 1.14;
    }
}

.header-contacts-svg-mail {
    margin-right: 10px;
    align-items: center;
    justify-content: center;
    fill: currentColor;
    @media screen and (max-width: 1199px) {
        width: 14px;
        height: 10px;
    }

}

.header-contacts-svg-tel {
    margin-right: 10px;
    align-items: center;
    justify-content: center;
    fill: currentColor;
    @media screen and (max-width: 1199px) {
        width: 10px;
        height: 14px;
    }
}
